@import 'normalize';
@import 'variables';



.app {
  font-family: $font-family;
}

.main-screen {

  &__box {
    padding: 24px 16px;
  }

  &__photo {
    width: 100%;
  }
}

.container {}

.logo {
  display: flex;
  justify-content: center;

  &__icon {}
}

.header {
  margin: 22px 0 24px 0;
  font-family: $font-family;
  font-size: 32px;
  font-weight: 900;
  line-height: 38px;

  text-align: center;
}

.button-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.button {
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 15px;

  font-family: $font-family;
  font-size: 18px;

  border-radius: 10px;
  border: 1px solid $blue;


  &--blue {
    background: $blue;
    font-weight: 700;
    color: $white ;
  }

  &--inline {
    background: transparent;
    font-weight: 400;
    color: $blue;
  }
}